div#divisore{

height:4%;
width:39%;
border:1px solid;
top:0;
margin-left:16%;
border-color:white;
padding-top:20px;
padding-left:3px;
padding-bottom:2px;
font-size:18px;
border-top:none;
border-right:none;
border-left:none;
color:#42B4F0;
}

div#divisore.second{
position:absolute;
margin-left:60%;
margin-top:24.3%;
padding-bottom:2px;
width:38%;

}



div#cont-input{

background-color: #E8E8E9;
border:1px solid;
float:left;
border-color:#CECED0;
color:#000000;
height: 15%;
width: 43%;
color:#000000;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
border-radius:2px 2px 2px 2px;

}

div#cont-input.nome{

width:20%;
height:10%;
margin-left:16.3%;
margin-top:1%;

}

div#cont-input.nome-stadio{

position:absolute;
width:20%;
height:10%;
margin-left:16.3%;
margin-top:14%;

}

div#cont-input.stemma{

width:14%;
height:10%;
margin-left:2%;
margin-top:1%;

}

div#cont-input.stadio{

position:absolute;
width:14%;
height:10%;
margin-left:39.5%;
margin-top:14%;

}

input.nome-squadra{

background:white;
border: 1px solid #CCC;
clear: both;
height: 20px;
width:140px;
font-size: 14px;
text-align:center;
color:#4d4d4d;
margin-top:2%;
margin-left:13%;

}

label.label-squadra{

background-color:trasparent;
width:100%; 
font-size:16px;
border:none;
text-align:center;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
margin-top:0px;
color:#000;

}

label.label-logo{

background-color:trasparent;
width:100%; 
font-size:16px;
border:none;
text-align:center;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
margin-top:15px;
color:#9A9A9A;

}

div#cont-image{

width:60px;
height:50px;
border:none;
border-right:1px solid;
margin-top:-3;
border-color:#B9B9B9;
}

textarea{

width:37%;
height:100px;
border:none;
margin-left:5%;
margin-top:1%;
padding:5px;
background-color:#E8E8E9;
color:rgba(1, 159, 199, 0.5);
font-size:13px;

}

.reg-squadra{
	text-align: center;
	width: 25%;
	height: 10%;
	font-size: 16px;
	font-family:'WOL_Reg','Segoe UI',Tahoma,Helvetica,sans-serif;
	border: none;
	position: relative;
	margin-top:2%;
	margin-left:69%;
	background-color: #00D2FF;
	color: #fff;
	font-weight:600;
	cursor: pointer;
	border:1px solid white;
}

.reg-squadra:hover{
/*-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);*/
background-color:#53E1FF;
}




















