@charset "utf-8";
/* CSS Document */


div#cont{
	height: 100%;
	width: 100%;
	position: absolute;
	border: 0px solid;
	left: 0px;
	top: 0px;
}


div#errore{
	height:30%;
	width:20%;
	position:relative;
	margin:0 auto;
	top:20%;
	border:0px solid;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;

}


