
.iscritti{

position:relative;
border:1px solid;
margin-top:0%;
margin-left:-24.5%;
width:50%;
height:50%;
font-family:'WOL_Reg','Segoe UI',Tahoma,Helvetica,sans-serif;
background-color:#E8E8E9;
border-color:rgba(1, 159, 199, 0.61);
padding:5px;
text-align:center;
line-height:25px;
color:#0098BF;
}

.title-iscritti{

width:100%;
height:10%;
position:relative;
font-size:20px;
text-align:center;
color:black;

}

a.no-color{

color:#0098BF;

}