@CHARSET "UTF-8";

div#divisore{

height:4%;
width:95%;
border:1px solid;
margin-top:0%;
margin-left:0%;
border-color:white;
padding-top:0px;
padding-left:3px;
font-size:18px;
border-right:none;
border-left:none;
border-top:none;

color:rgba(1, 159, 199, 0.61);

}

div#divisore.second{
	margin-top:15%;
	width:75%;
}

div#divisore.third{
	margin-top:15%;
	width:60%;
}

.reg-squadra{
	text-align: center;
	width: 25%;
	height: auto;
	font-size: 16px;
	font-family:'WOL_Reg','Segoe UI',Tahoma,Helvetica,sans-serif;
	margin-top:0%;
	margin-left:60%;
	background-color: #E8E8E9;
	color: #fff;
	font-weight:600;
	cursor: pointer;
	border:none;
	position:absolute;
}

.reg-squadra:hover{
background-color:#D5D5D5;
}

div#cont-input{

background-color: #E8E8E9;
border:1px solid;
float:left;
border-color:#CECED0;
color:#000000;
height: 15%;
width: 43%;
color:#000000;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
border-radius:2px 2px 2px 2px;

}

div#cont-input.nome{
	width:30%;
	height:12%;
	margin-top:1.5%;
}

div#cont-input.stemma{

width:30%;
height:12%;
margin-left:2%;
margin-top:1.5%;

}

div#cont-input.camp{

width:30%;
height:12%;
margin-left:2%;
margin-top:1.5%;

}

input.nome-squadra{

background:white;
border: 1px solid #CCC;
clear: both;
height: 20px;
width:140px;
font-size: 14px;
text-align:center;
color:rgba(1, 159, 199, 0.61);
margin-top:4%;
margin-left:13%;
background-color: #E8E8E9;

}

label.label-squadra{

background-color:trasparent;
width:100%; 
font-size:16px;
border:none;
text-align:center;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
margin-top:0px;
margin-left:37%;
color:#9A9A9A;

}

label.label-camp{

background-color:trasparent;
width:100%; 
font-size:16px;
border:none;
text-align:center;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
margin-top:0px;
margin-left:30%;
color:#9A9A9A;

}

div#cont-image{
	
	height:auto;
	width:43%;
	border-right:1px solid;
	border-color:#9A9A9A;
	border-left:none;
	border-top:none;
	border-bottom:none;
}

div#cont-foto{
	
	border:none;
	height:50%;
	width:30%;
	margin-left:60%;
	margin-top:-25%;
	font-size:17px;
	
}

div#cont-camp{
	border:none;
	width:auto;
	height:30%;
	color:rgba(1, 159, 199, 0.61);
	margin-top:4%;
	text-align:center;
}

textarea{
	width:40%;
	height:20%;
	margin-top:3px;
	border:none;
	background-color:#E8E8E9;
	color:rgba(1, 159, 199, 0.61);
	
}

