div#window.formazione{
	width:100%;
	height:1000px;
}

div#cont-campo{
	width:830px;
	height:800px;
	position:absolute;
	left:36%;
	border:none;
}
#accordion {
position:absolute;
list-style:none;
width:220px;
margin-left:12.5%;
margin-top:0%;
border:none;
}
#accordion li {
/* parte prinicipale (titoli) */
background-color:transparent;
font-size:18px;
cursor:pointer;
padding:4px;
color:rgba(1, 159, 199, 0.61);
border-bottom:1px solid white;
}
#accordion ul {
list-style:none;
display:none;
margin:0;
padding:0;
}
#accordion ul li {
background-color:transparent;
border:0;
padding-left:5px;

}
#accordion ul li a {
text-decoration:none;
color:#333;
}
#accordion ul li a:hover {
color:#000;
}













